# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/


*.jar
!.mvn/wrapper/maven-wrapper.jar
**/*.iml
.idea/**/*.xml
.idea/libraries
.idea/.name
.idea/inspectionProfiles
!.idea/runConfigurations/Mock.xml
!.idea/runConfigurations/Coni.xml
**/target/
**/git.properties

**/.DS_Store
